.bot-msg {
  align-self: flex-start;
  border-left: 5px solid #7a7a7a;
}

.user-msg {
  align-self: flex-end;
  border-right: 5px solid #7a7a7a;
}

.bot-msg,
.user-msg {
  max-width: 754px;
  background-color: #222323;
  padding: 10px;
  border-radius: 5px;
}

.loading {
  font-style: italic;
  color: #888;
}

main {
  @media screen and (max-width: 470px) {
    min-width: 100%;
  }
}
